.defaultHero {
    /* margin-top: 16.5vh; */
    min-height: calc(100vh - 0px);
    background: url('../assets/3b8147580c92ffac5a30fb9735b8168e1662974893.avif')
    center/cover no-repeat;
    color: #51ff00;
    text-align: center;
    padding: 100px 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .hero-content {
    position: relative;
    z-index: 1;
    font-weight: 400;
    font-size: 32px;
  }
  .text-content, .tagline{
    background: rgba(0, 0, 0, .5) !important;
    color: #fff8f8dd;
    text-transform: capitalize;
  }



  .tagline {
    font-style: italic;
    font-size: 1.2em;
    color: rgba(252, 238, 43, 0.852);
  }
